<!DOCTYPE html>
<html>
<head>
  <title>SourceBin</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">  
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">SourceBin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
        <%if (status == "new") { %>
          <button type="button" class="btn" data-toggle="modal" data-target="#encModal"><i class="fas fa-lock"></i> Encryption</button>
          <button type="button" class="btn" data-toggle="modal" data-target="#expModal"><i class="fas fa-clock"></i> Expiration</button>
          <button onclick="submitDatas()" class="btn btn-outline-success my-2 my-sm-0" ><i class="far fa-save"></i> Save</button>
          <% } else { %>
            <a href="http://localhost:3000/" class="btn btn-outline-info my-2 my-sm-0" ><i class="far fa-plus"></i> New</a>
            <% } %>
          </form>
        </nav>
        <div class="main-content">
          <%if (isEncrypted == false) { %>
            <textarea class="text-area" onkeyup="textAreaHandler()"><%= content %></textarea>
            <% } else { %>
              <textarea class="text-area" id="decrypted"></textarea>
              <% } %>      
            </div>
            <div class="info">
              Word Count: <span id="word-count">0</span> - - 
              Char Count: <span id="char-count">0</span>
            </div>
          </body>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>  
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
          
          <script>
            let secretKey = "";
            let expiration = "year";
            let text = "";
            let url = "";
            
            function setKey(key){
              secretKey=key;
            }
            
            function setExpr(expr){
              expiration = expr;
            }
            
            function textAreaHandler(){
              text=$(".text-area")[0].value;
              $("#word-count").text(text.split(" ").length);
              $("#char-count").text(text.length);
            }
            
            function submitDatas(){
              $.ajax({
                type: "POST",
                url: "/save",
                data: {
                  secret:secretKey,
                  expiration:expiration,
                  text:text,
                },
                success: function(data){
                  window.location.href = "http://"+data.url;
                }
              });
            }
            
            function decrypt(pass){
              $.ajax({
                type: "POST",
                url: "/decrypt",
                data: {
                  key : window.location.pathname.split("/")[2],
                  secret : pass,
                },
                success: function(data){
                  if (data.status === 200){
                    //alert(data.content)
                    $("#decrypted").val(data.content);
                    $("#encModal").modal('toggle');   
                  }else{
                    alert("Password Incorrect. Try Again.")
                  }
                },
              });
            }
            
            $(document).ready(function(){
              if (<%= isEncrypted %> == true){
                $("#encModal").modal('toggle');    
              }
            });
            
          </script>
          
          <div class="modal fade" id="encModal" tabindex="-1" role="dialog" aria-labelledby="encModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <%if (status == "new") { %>
                    <h5 class="modal-title" id="encModalLabel">Encrypt paste</h5>
                    <% } else {%>
                      <h5 class="modal-title" id="encModalLabel">Decrypt paste</h5>
                      <% } %>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="form-group">
                      <label for="secret">Password</label>
                      <input type="password" class="form-control" id="secret" placeholder="Password">
                    </div>
                  </div>
                  <div class="modal-footer">
                    <%if (status == "new") { %>
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>          
                      <button type="button" onclick="setKey($('#secret').val());" data-dismiss="modal" class="btn btn-success">Save</button>
                      <% } else {%>
                        <button type="button" onclick="decrypt($('#secret').val());" class="btn btn-success">Decrypt</button>          
                        <% } %>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="modal fade" id="expModal" tabindex="-1" role="dialog" aria-labelledby="expModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="expModalLabel">Set expiration paste</h5>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="form-group">
                        <label for="secret">Time to live for paste</label>
                        <select class="form-control" id="expirationSelect" aria-placeholder="Choose expiration">
                          <option value="year">1 Year</option>
                          <option value="month">1 Month</option>
                          <option value="day">1 Day</option>
                          <option value="hour">1 Hour</option>
                          <option value="minute">5 Minute</option>
                        </select>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>          
                      <button type="button" onclick="setExpr($('#expirationSelect').val())" data-dismiss="modal" class="btn btn-success">Save</button>
                    </div>
                  </div>
                </div>
              </div>
              
              </html>
              
              